.about {
  padding-top: 94px;
}
.about__container {
  @media screen and (min-width: 428px) {
    padding: 0;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 480px) {
    padding: 0;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 768px) {
    padding: 0;
    margin-bottom: 60px;
  }
}
/* Icons  */
.about-icons {
  display: flex;
  gap: 30px;
  align-items: center;
  // justify-content: space-around;

  @media screen and (max-width: 1100px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (max-width: 480px) {
    display: flex;
  }
}
.about-icons__item {
  display: flex;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  border-radius: 4px;

  @media screen and (max-width: 1100px) {
    width: 354px;

    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 768px) {
    // width: calc((100% - 30px) / 2);
    width: 354px;

    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    // justify-content: space-between;
  }
  @media screen and (max-width: 480px) {
    width: 450px;
    margin: 0;
  }
  @media screen and (max-width: 428px) {
    width: 95%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-list {
  display: flex;
  gap: 30px;
  text-align: left;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.about-subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.about-subtitle__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  width: 270px;
}
/*
  |==============================
  | mobile
  |==============================
*/
.about__item-mobile {
  @media screen and (min-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 428px) {
  }
}
.about__mobile-subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (max-width: 428px) {
    text-align: center;
  }
}
.about__mobile-subtitle-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (max-width: 428px) {
    width: 95%;
    text-align: center;
  }
}

/*
  |==============================
  | Tablet 
  |==============================
*/
.about__item-tablet {
  @media screen and (min-width: 1199px) {
    display: none;
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (max-width: 1100px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.about__tablet-subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.about__tablet-subtitle__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  width: 354px;
  height: 75px;
}
