/*  Clients section  */
.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}
.clients-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-txt-cl);

  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--social-link-cl);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  &:hover,
  &:focus {
    color: var(--acent-txt-cl);
    border-color: var(--blue-bg-cl);
  }
}
.clients__icon {
  fill: currentColor;
}
