/* Footer section 1 страница-совместный с портфолио */
.footer {
  background-color: var(--grey-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
  gap: 70px;

  @media screen and (max-width: 480px) {
    display: flex;
  }
}

.footer-logo__img {
  margin-bottom: 20px;
}
.footer__link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--acent-txt-cl);

  @media screen and (max-width: 768px) {
    font-style: normal;
    font-size: 24px;
    line-height: calc(28 / 24);
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    font-style: normal;
    font-size: 24px;
    line-height: calc(28 / 24);
    text-align: center;
  }
}
.footer__white {
  color: var(--secondary-w-txt-cl);
}
.footer-socials {
  margin-left: 0px;
}
.footer-socials-subtitle {
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-w-txt-cl);
  margin-bottom: 20px;
  padding-top: 12px;
}
.footer-socials__list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--secondary-w-txt-cl);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  /* outline: 2px solid red; */
  outline-offset: -2px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  &:hover,
  &:focus {
    color: var(--secondary-w-txt-cl);
    background-color: var(--blue-bg-cl);
  }
}
.footer-socials__icon {
  fill: currentColor;
}
.address {
  font-style: normal;
}

.address__item {
  margin-bottom: 9px;
}
.address__link-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-w-txt-cl);
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.address__link-mail {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.address__link-tel {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 60px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
/* Hover Focus and Footer */
.address__link-tel:hover,
.address__link-tel:focus,
.address__link-mail:hover,
.address__link-mail:focus,
.address__link-text:hover,
.address__link-text:focus {
  color: var(--acent-txt-cl);
}
