.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--grey-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/hero/Header-img@1x_sm.png), url(../images/hero/Img-@2x_sm.png);

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/Header-img@1x_md.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../../images/hero/Img-@1x_Lg.png);
  }
}
.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-w-txt-cl);
  margin-bottom: 30px;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 767px) {
    font-style: normal;
    font-size: 26px;
    line-height: calc(42 / 26);
    width: 360px;
    height: 84px;
  }

  @media screen and (min-width: 375px) {
    font-style: normal;
    font-size: 26px;
    line-height: calc(42 / 26);
    width: 360px;
    height: 84px;
  }
}
.hero-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-w-txt-cl);
  background-color: var(--blue-bg-cl);
  border: transparent;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
