/* Section description */
.section {
  padding-top: 94px;
}
.description {
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 50px;
}
.section-list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.section-list__item {
  position: relative;
}

.section-subtitle-overley {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-w-txt-cl);
}
