/*  Team secsion */
.team {
  padding-top: 94px;
  background: #f5f4fa;
  @media screen and (max-width: 768px) {
    padding-top: 60px;
  }
  @media screen and (max-width: 480px) {
    padding-top: 60px;
  }
}
.team__container {
  @media screen and (max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
    // padding-bottom: 60px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
    // padding-bottom: 60px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    // padding-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    padding-left: 0;
    padding-right: 0;
    // padding-bottom: 60px;
  }
}

.team-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    font-style: normal;
    font-size: 28px;
    line-height: calc(33 / 28);
    margin-bottom: 30px;
  }
  @media screen and (max-width: 480px) {
    font-style: normal;
    font-size: 28px;
    line-height: calc(33 / 28);
    padding-top: 60px;
    margin-bottom: 30px;
  }
}
.team-list {
  display: flex;
  gap: 30px;
  margin: 0%;

  width: 1170px;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;

    width: 100%;
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    // flex-direction: column;

    width: 768px;
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
  }
  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
  }
  @media screen and (max-width: 428px) {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
}
.team__item {
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    width: 354px;
    height: 536px;
  }
  @media screen and (max-width: 480px) {
    width: 450px;
    height: 622px;
  }
  @media screen and (max-width: 428px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.team-desc {
  padding-top: 30px;
  padding-left: 59px;
  padding-right: 59px;
}

.team-subtitle {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 10px;
}
.team__description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 16px;
}
/* Socials */
.socials {
  display: flex;
  gap: 10px;
  margin: 0%;
  align-items: center;
  justify-content: center;
  margin: 0%;

  @media screen and (max-width: 480px) {
    margin-bottom: 24px;
    // padding-bottom: 24px;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  width: 44px;
  height: 44px;
  color: var(--social-link-cl);
  background-color: #ffffff;
  border-radius: 50%;
  /* outline: 2px solid red; */
  outline-offset: -2px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  &:hover,
  &:focus {
    color: var(--secondary-w-txt-cl);
    background-color: var(--blue-bg-cl);
  }
}
.socials__icon {
  fill: currentColor;
}
/* 2-й Спосіб вказання кольору іконки  */
/* .socials-icon {
  fill: #afb1b8;
} */
/* .socials-link:hover {
  background-color: #2196f3;
}
.socials-link:hover .socials-icon {
  fill: #ffffff;
} */
