.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;

  @media screen and (min-width: 428px) {
    width: 428px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
  }
  @media screen and (min-width: 1100px) {
    width: 1100px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

// .container {
//   max-width: 428px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-left: auto;
//   margin-right: auto;
//   outline: 1px solid red;
// }
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 768px;
//     outline: 1px solid red;
//   }
// }
// @media screen and (min-width: 1200px) {
//   .container {
//     max-width: 1158px;
//     outline: 1px solid red;
//   }
// }
