/* Modal window */
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  /* Властивості за замовчуванням  */
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  /* Закрывает модальное окно */
  transition: opacity 600ms ease-out, visibility 600ms ease-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  opacity: 1;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;

  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;

  @media screen and (max-width: 768px) {
    width: 450px;
    min-height: 609px;
  }
  @media screen and (max-width: 480px) {
    width: 450px;
    min-height: 609px;
  }
  @media screen and (max-width: 428px) {
    width: 300px;
    min-height: 609px;
  }
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 0%;
  cursor: pointer;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--acent-txt-cl);
}
/* .modal-btn-icon {
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon:hover,
.modal-btn-icon:focus {
  fill: var(--acent-txt-cl);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
